<!doctype html>

<html>
<head>
	<title>Facebook Mutual Friend Map</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="/views/stylesheet.css">
      <script src="/js/d3.js" charset="utf-8"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>

      <!-- CSS -->
      <style type="text/css">
        #title, p {
          text-align: center;
        }

        svg {
          margin-left: 5%;
        }
      </style>
</head>

<body>
      <div class="container">
      	<h1 id="title">See how many mutual friends you have with your Facebook connections!</h1>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="1000" width="1000">
        {{#each mutualfriends}}
          <!--<p>You have {{numfriends}} mutual friends with {{name}}!</p>-->
          <circle cx="{{cx}}" cy="{{cy}}" r="{{numfriends}}" />
        {{/each}}
        </svg>

        
          
        <!--    <circle cx="100" cy="150" r="5"/>
            <circle cx="200" cy="150" r="5"/>
            <circle cx="300" cy="150" r="5"/>
            <circle cx="400" cy="150" r="5"/>
            <circle cx="500" cy="150" r="5"/>
            <circle cx="100" cy="250" r="5"/>
            <circle cx="200" cy="250" r="5"/>
            <circle cx="300" cy="250" r="5"/>
            <circle cx="400" cy="250" r="5"/>
            <circle cx="500" cy="250" r="5"/>
            <circle cx="100" cy="350" r="5"/>
            <circle cx="200" cy="350" r="5"/>
            <circle cx="300" cy="350" r="5"/>
            <circle cx="400" cy="350" r="5"/>
            <circle cx="500" cy="350" r="5"/>
            <circle cx="100" cy="450" r="5"/>
            <circle cx="200" cy="450" r="5"/>
            <circle cx="300" cy="450" r="5"/>
            <circle cx="400" cy="450" r="5"/>
            <circle cx="500" cy="450" r="5"/>
            <circle cx="100" cy="550" r="5"/>
            <circle cx="200" cy="550" r="5"/>
            <circle cx="300" cy="550" r="5"/>
            <circle cx="400" cy="550" r="5"/>
            <circle cx="500" cy="550" r="5"/> -->

        <script src="script.js" type="text/javascript" >
          var friendcircle = d3.select("#example").selectAll("circle").data([30])

          friendcircle.enter().append("circle")
            .attr("r", function(d){return d});



        </script>

        
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>